<div>
    <h2>Prices block</h2>
    <p>The highest price descedent</p>
    <table>
        <thead>
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Xiomi Note 10</td>
                <td>1 232 USD(-232 USD)</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Samsung Galaxy S21</td>
                <td>1 232 USD(-232 USD)</td>
            </tr>
            <tr>
                <td>3</td>
                <td>iPhone 13</td>
                <td>1 232 USD(-232 USD)</td>
            </tr>
        </tbody>
    </table>
</div>
